<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../CSS/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Myresume</title>
</head>
<body>
	<header>
		<h1>Alex Kallon</h1>
		<div class="contacto">
			<p>Date of Birth: 04-01-2004</p>
			<p>Location: Barcelona (Spain)</p>
			<iframe width="460" height="315" src="https://www.youtube.com/embed/vC4s5Ijj7WM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</header>
	<div>
		<ul>
			<li><a href="#experiencia">Experience</a></li>
			<li><a href="#estudios">Education</a></li>
			<li><a href="#habilidades">Skills</a></li>
			<li><a href="#contacto">Contact</a></li>
		</ul>
	</div>
	<div>
		<article>
			<h2 id="experiencia">Experience</h2>
			<h3 class="empresa">Colegio Santa Coloma de Cervello</h3>
			<p class="fecha">14/06/2022</p>
			<ul>
				<li>FCT Company Internship-Completed</li>
			</ul>
		</article>
		<article>
			<h2 id="estudios">Education</h2>
			<p class="fecha">2007-2022 Colegio Alpes</p>
			<ul>
				<li>Compulsory Secondary Education</li>
			</ul>
			<p class="fecha">2022 Joan XXIII</p>
			<ul>
				<li>Currently studying a CFGM of Microcomputer Systems and Networks (SMX)</li>
			</ul>
		</article>
		<article>
			<h2 id="habilidades">Skills</h2>
			<div class="habilidades">
				<ul>
					<li>Experience in Word, Excel, PowerPoint, Access</li>
					<li>Virtual machine creation</li>
					<li>Experience using the Packet Tracert application</li>
					<li>Experience width HTML/CSS</li>
				</ul>
			</div>
		</article>
		<article>
			<h2 id="contacto">Contact</h2>
			<div class="contacto">
				<p>Email: alexkallon241@gmail.com</p>
				<p>Phone: 673157426</p>
				<p>Location: Barcelona (L'Hospitalet de Llobregat)</p>
				<p>Codigo postal:08901</p>
			</div>
		</article>
	</div>
	<footer>
		<p>Alex Kallon</p>
        <button><a href="../../index.html"><img src="../../img/comprar-bandera-espana-sin-escudo-para-exterior-interior-1200x900.png"></button></a>
	</footer>
</body>
</html>