<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/html" href="../index.html">
    <link rel="stylesheet" type="text/css" href="CSS/estilos.css">
    <title>Document</title>
</head>
<body>
	<div>
		<article>
			<h2 id="experiencia">Experiencia</h2>
			<h3 class="empresa">Desarrollador Web - Acme Corp</h3>
			<p class="fecha">Junio 2022 - Presente</p>
			<ul>
				<li>Desarrollo y mantenimiento de sitios web corporativos utilizando HTML, CSS y JavaScript.</li>
				<li>Colaboración con diseñadores gráficos para implementar diseños en sitios web.</li>
				<li>Optimización de sitios web para mejorar la velocidad de carga y la experiencia del usuario.</li>
			</ul>
	    </article>
	</div>
</body>
</html>