<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Micurriculum</title>
</head>
<body>
	<header>
		<h1>Alex Kallon</h1>
		<div class="contacto">
			<p>Fecha de Nacimiento: 01-04-2004</p>
			<p>Ubicación: Barcelona (España)</p>
			<iframe src="https://www.youtube.com/embed/58lk2FW-RoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</header>
	<div>
		<ul>
			<li><a href="/view/experiencia.html#experiencia">Experiencia</a></li>
			<li><a href="#educacion">Educación</a></li>
			<li><a href="#habilidades">Habilidades</a></li>
			<li><a href="#contacto">Contacto</a></li>
		</ul>
	</div>
	<div>
		<article>
			<h2 id="experiencia">Experiencia</h2>
			<h3 class="empresa">Colegio Santa Coloma de Cervello</h3>
			<p class="fecha">14/06/2022-13/01/2023</p>
			<ul>
				<li>Practicas de Empresa FCT-Finalizado</li>
			</ul>
		</article>
		<article>
			<h2 id="educacion">Educación</h2>
			<p class="fecha">2007-2022 Colegio Alpes</p>
			<ul>
				<li>Educacion Secundaria Obligatoria</li>
			</ul>
			<p class="fecha">2022-2023 Joan XXIII</p>
			<ul>
				<li>Actualmente cursando un CFGM de Sistemas Microinformáticos y Redes (SMX)</li>
			</ul>
		</article>
		<article>
			<h2 id="habilidades">Habilidades</h2>
			<div class="habilidades">
				<ul>
					<li id="estilos">Experiencia en Word,Excel,PowerPoint,Acces</li>
					<li id="estilos">Creacion maquinas virtuales</li>
					<li id="estilos">Experiencia en utilizar la aplicacion Packet Tracert</li>
					<li id="estilos">Experiencia con HTML/CSS</li>
				</ul>
			</div>
		</article>
		<article>
			<h2 id="contacto">Contacto</h2>
			<div class="contacto">
				<p>Email: alexkallon241@gmail.com</p>
				<p>Teléfono: 673157426</p>
				<p>Ubicación: Barcelona (L'Hospitalet de Llobregat)</p>
				<p>Codigo postal:08901</p>
			</div>
		</article>
	</div>
	<footer>
		<p>Alex Kallon</p>
		<button><a href="view/en/index_en.html"><img src="img/Cursos-de-inglés-en-Reino-Unido-Centro-de-Idiomas-UVa.png"></button></a>
	</footer>
</body>
</html>
